@use '../base/variaveis' as *;
@use '../base/mixins' as *;

body {
    font-family: sans-serif;
    background-color: $cor-fundo;

    .container {
        display: flex;
        flex-direction: column; /* mobile first */
        padding: 1rem;
        gap: 1rem;
    
        @include respond-to(md) {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .caixa {
        background-color: white;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
    
        @include respond-to(md) {
            width: 45%;
        }
    }
}