$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$cor-header: #333;
$cor-fundo: #f2f2f2;

@mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
      @media (min-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md {
      @media (min-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
      @media (min-width: $breakpoint-lg) { @content; }
    }
}

body {
    font-family: sans-serif;
    background-color: $cor-fundo;
    
    .galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1rem;
        gap: 1rem;

        @include respond-to(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .card {
        background-color: white;
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}

header, footer {
    background-color: $cor-header;
    color: white;
    text-align: center;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
}