body
{
    background-color: #a5d9f7;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;

    .centralizado {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .flex-container {
        display: flex;
        justify-content: space-around; /* center, space-between, flex-end */
        align-items: center;
        gap: 20px;
        background-color: #caeafc;
        padding: 20px;
        flex-direction: column;
        border-radius: 8px; /* Arredondar quinas */
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Efeito de sombra ao redor */
    }
    
    .box {
        background-color: #5fa4fd;
        padding: 20px;
        width: 100px;
        /* text-align: center; */
    }

    header, footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 1rem;
    }
    
    nav {
        display: flex;
        justify-content: space-around; /* center, space-between, flex-end */
        align-items: center;
        background: #555;
        padding: 0.5rem;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
    
    nav li {
        margin: 0 1rem;
    }
    
    nav a {
        color: white;
    }
    
    main {
        padding: 1rem;
    }
    
    article {
        border: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 1rem;
        background: #f9f9f9;
    }
}